
/*GENERAL RULES*/
:root{
    --main-color-font: #141414; 
    /* --main-color: #1f1f1f; */
    --main-color: #1b1b1b;
    --main-color-sakura: #f77c97;
    /* --main-color-navbar: #141414; */
    /* --main-color-navbar: #1f1f1f; */
    --main-color-navbar: #1b1b1b;
    --main-color-navbar-font: white;
    --secondary-color-font: white;
    /* --main-color-sakura: rgb(238, 77, 144);  */
}
/*END REGENERAL RULES*/


/*FONTS*/
@font-face {
    font-family: monckeberg;
    src: url(fonts/Monckeberg-Regular.ttf);
}

@font-face {
    font-family: shikamaru;
    src: url(fonts/Shikamaru.otf);
}
@font-face {
    font-family: geishta;
    src: url(fonts/Geishta.ttf);
}
/*ENDFONTS*/


/*ANIMATIONS*/
@keyframes levitation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}


@keyframes fall {
    0% {
      transform: translateY(0) translateX(0) rotate(0deg);
      opacity: 1;
    }
    50%{
        opacity: 0.7;
    }
    100% {
      transform: translateY(100vh) translateX(var(--drift)) rotate(360deg);
      opacity: 0;
    }
  }


  /**/
  @keyframes fly {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }
  
  
  @keyframes swing {
    0% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(-5px);
    }
  }
  
  @keyframes rotate {
    0%   { transform: rotate(calc(var(--rotate-deg) * -1)); }
    100% { transform: rotate(var(--rotate-deg)); }
  }
  
  @keyframes flicker {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.75;
    }
  }
  
/*END ANIMATIONS*/ 

/*ALL, BODY, HTML*/
*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}

.container-fluid{
    padding: 0;
    margin: 0;
}
/*END ALL, BODY, HTML*/


/*NAVBAR*/
.navbar{
    width: 100%;
    height: 9%;
    background-color: var(--main-color-navbar); 
}
.navbar-nav{
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    gap: 1em;
}

.nav-link{
    color: var(--main-color-navbar-font);
    font-size: 2.1em;
    font-family: geishta;
    display: inline-block;
}
    .nav-link:hover{
        color: var(--main-color-sakura);
        transition: all ease-in-out 0.50s;
        transform: scale(105%);
    }

.active{
    color: var(--main-color-sakura) !important;
    font-weight: bolder;
    text-decoration: underline;
}

/*END NAVBAR*/

/*HOME*/
#Main-container{
    width: 100%;
    display: flex;
    padding: 0% 0% 0% 10%;
    background-image: url(img/background.png);
    background-repeat: repeat-x;
    padding: 3% 5% 0% 10%;
    background-size: contain; 
    position: relative;
    overflow: hidden;
}

#petal-container {
    position: absolute; /*fixed tambem funciona, mas aparentemente pega a tela inteira*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    overflow: hidden;
  }
  
  .petal {
    position: absolute;
    width: 30px; 
    height: auto;
    opacity: 1;
    animation: fall linear infinite;
  }
  
.sakuraTree{
    position: absolute;
    width: 13%;
    left: -4%;
    top: 5%;
    transform: rotate(-30deg);
}
.sakuraTree2{
    position: absolute;
    width: 13%;
    right: -4%;
    top: 0;
    -webkit-transform: scale(-1, -1);
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
.aside{
    width: 50%;
    padding-right: 5%;
}
.framePicture{
    width: 50%;
    margin-bottom: 5%;
    animation: levitation 3s ease-in-out infinite;
    
}
#Main-container h1 {
    color: var(--main-color-font);
    font-family: geishta;
    font-size: 6em;
    margin: 0 !important;
    line-height: 0.9 !important;
    position: relative;
}

#Hello p{
    font-size: 1.4em;
    color: var(--main-color-font);
    text-shadow: 5px -2px 10px rgba(255,255,255,0.48);
    font-family: 'Times New Roman', Times, serif;
    margin: 0 !important;
}


#Apresentation {    
    position: relative;
}

#Apresentation p{
    color: var(--main-color-font);
    font-size: 1.4em;
    line-height: 1.2em;
    font-family: 'Times New Roman', Times, serif;    
    text-align: justify;
}
#Apresentation a{
    color: var(--main-color-sakura);
    font-family: geishta;
    font-size: 3.5em;
    text-decoration: none;
    transition: all 0.2s ease-in-out ;
    transform: rotate(0deg);
    text-decoration: underline;
    display: inline-block;
    margin-top: 5%;
}
    #Apresentation a:hover{
        transform: translateX(-10px);
        transform: scale(110%);
        text-shadow: 5px -2px 10px rgba(196, 18, 122, 0.705);
    }


#LatestWorks{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    background-color: var(--main-color);
    text-align: center;
    padding: 2%;
}

.container-works{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 5%;
} 
#LatestWorks h2{
    color: var(--secondary-color-font);
    font-family: geishta;
    font-size: 2.7em;
    margin-bottom: 5%;
}

.cardWork{
    background-image: url(img/backgroundCard.png);
    background-size: cover;
    cursor: pointer;
    width: 21%;
    height: 95%;
    position: relative;
    text-align: center;
    overflow: hidden;
    border: solid #f77c97 2px;
    transition: all ease-in-out 0.3s;
}
.cardWork:hover{
    transform: scale(105%);
}
    .cardWork .stick{
        position: absolute;
        width: 80%;
        top: 7%;
        left: 0;
    }
    .cardWork .flowers{
        position: absolute;
        width: 50%;
        bottom: 5%;
        right: 5%; 
    }
    .cardWork .borderCard{
        width: 100%;
        height: 100%;
    }
    .cardWork .cardPicture{
        position: absolute;
        width: 65%;
        left: 50%;
        right: 50%; 
        top: 50%;
        transform: translate(-50%, -50%);
    }
        .cardPicture img{
            width: 100%;
            border-radius: 100%;
        }

     .cardWork p{
            position: absolute;
            left: 0%;
            right: 0%; 
            bottom: 15%;
            font-size: 3em;
            color: var(--secondary-color-font);
            font-family: geishta;
     } 
     .cardWork p:last-child{
        position: absolute;
        left: 0%;
        right: 0%; 
        bottom: 13%;
        font-size: 1.1em;
        color: var(--secondary-color-font);
        font-family: 'Times New Roman', Times, serif;
 } 
     .cardWork span{
        color: gold;
     }

/*END HOME*/     

/*FOOTER*/
footer{
    color: white;
    padding-bottom: 3%;
}

.list-inline{
    width: 100%;
}

.list-item{
    width: 2%;
}
    .list-item img{
        width: 100%;
        height: 100%;
    }
        .list-item:hover{
            transform: scale(110%);
        } 
/*END FOOTER*/      


/*ABOUT ME*/
#lamp-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    overflow: visible;
    z-index: 0;
  }
  
  

  .lamp-wrapper {
    position: absolute;
    animation: fly linear forwards;
  }
  
  .lamp {
    display: block;
    transform-origin: center;
    animation: swing var(--swing-speed) ease-in-out infinite alternate,
    rotate var(--rotate-speed) ease-in-out infinite alternate;
  }

  
#MainContainer{
    padding: 5% 22%;
    width: 100%;
    overflow: hidden;
}

#AboutMe{
    width: 100%;
    position: relative;
}
#AboutMe span{
    color: var(--main-color-sakura);
    text-align: start;
    font-size: 0.9em;
    font-family: monckeberg;
}

#AboutMe h2{
    color: white;
    font-family: geishta;
    font-size: 3.7em;
}   

#AboutMe p{
    color: var(--secondary-color-font);
    font-size: 1.20em;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.85;
}

#AboutMe .picture{
    width: 50%;
}
    #AboutMe .picture img{
        width: 100%;
    }

#AboutMe .aboutMe{
    width: 50%;
    padding: 10% 5%;
}
#AboutMe a{
    color: var(--main-color-sakura);
    font-family: geishta;
    font-size: 3em;
}
#AboutMe a:hover{
    transform: translateX(-10px);
    transform: scale(110%);
    text-shadow: 5px -2px 10px rgba(196, 18, 122, 0.705);
}




/*END ABOUT ME*/

